In [5]:
import pandas as pd

In [29]:
# 파일 읽어오기 
station_location = pd.read_csv("19.전철역_공간정보.csv")
station_data = pd.read_csv("29.지하철 역별 이용객수.csv")

# 코드 설명
## - 19. 전철역_공간정보
- rail_nm    해당 역의 호선 명입니다.
- station_nm    역 명입니다.
- lot_num_addr    해당 역의 지번 주소입니다.
- road_nm_addr    해당 역의 도로명 주소입니다.
- X    지하철역의 위도 입니다.
- Y    지하철역의 경도 입니다.

## 29. 지하철 역별 이용객수
- 호선명    해당 역의 호선 명입니다.
-  역명    역 명입니다.
- 행정구역    해당 역의 행정구역(동) 입니다.
- 년월구분    해당 라인 데이터의 년월구분 입니다.
- 승하차구분    해당 라인 데이터의 승하차구분 입니다.
- 월요일_합계    해당 역의 승하차 구분별 월요일 합계입니다.
- 화요일_합계    해당 역의 승하차 구분별 화요일 합계입니다.
- 수요일_합계    해당 역의 승하차 구분별 수요일 합계입니다.
- 목요일_합계    해당 역의 승하차 구분별 목요일 합계입니다.
- 금요일_합계    해당 역의 승하차 구분별 금요일 합계입니다.
- 토요일_합계    해당 역의 승하차 구분별 토요일 합계입니다.
- 일요일_합계    해당 역의 승하차 구분별 일요일 합계입니다.
- 모든요일_합계    해당 역의 승하차 구분별 모든요일 합계입니다.
- 월요일_평균    해당 역의 승하차 구분별 월요일 평균입니다.
- 화요일_평균    해당 역의 승하차 구분별 화요일 평균입니다.
- 수요일_평균    해당 역의 승하차 구분별 수요일 평균입니다.
- 목요일_평균    해당 역의 승하차 구분별 목요일 평균입니다.
- 금요일_평균    해당 역의 승하차 구분별 금요일 평균입니다.
- 토요일_평균    해당 역의 승하차 구분별 토요일 평균입니다.
- 일요일_평균    해당 역의 승하차 구분별 일요일 평균입니다.
- 모든요일_평균    해당 역의 승하차 구분별 모든요일 평균입니다.

In [7]:
station_data.columns

Index(['호선명', '역명', '행정구역', '년월구분', '승하차구분', '월요일_합계', '화요일_합계', '수요일_합계',
       '목요일_합계', '금요일_합계', '토요일_합계', '일요일_합계', '모든요일_합계', '월요일_평균', '화요일_평균',
       '수요일_평균', '목요일_평균', '금요일_평균', '토요일_평균', '일요일_평균', '모든요일_평균'],
      dtype='object')

 ### station_data 중에서 '총승하차' 부분이 역별 유동인구를 가늠하기에 적절하다고 판단하여 그 부분을 살펴봅니다.

In [27]:
# 총승하차만 남김.
station_data = station_data[station_data['승하차구분'] == '총승하차']

In [23]:
# 인덱스 재설정
station_data = station_data.reset_index(drop=True)

In [31]:
#알아보기 쉽게 나머지 불필요한 칼럼들은 제거합니다
station_list = ['호선명','역명','승하차구분','모든요일_합계']
station_data = station_data[station_list]
station_data

    호선명  역명 승하차구분   모든요일_합계
0   3호선  지축    승차    476014
1   3호선  지축    하차    536446
2   3호선  지축  총승하차   1012460
3   경의선  화전    승차    928786
4   경의선  화전    하차    870375
..  ...  ..   ...       ...
58  일산선  주엽    하차   3674119
59  일산선  주엽  총승하차   7234466
60  일산선  대화    승차   5547363
61  일산선  대화    하차   4460662
62  일산선  대화  총승하차  10008025

[63 rows x 4 columns]

In [33]:
# station_data 파일에 각 역의 위치를 입히기 시작
station_location

,rail_nm,station_nm,lot_num_addr,road_nm_addr,X,Y
0,3호선,대곡,경기도 고양시 덕양구 대장동 420-1,경기도 고양시 덕양구 대주로107번길 71-81,126.809614,37.632306
1,3호선,대화,경기도 고양시 일산서구 대화동 2221,경기도 고양시 일산서구 중앙로 지하 1569,126.747206,37.675846
2,경의중앙,일산,경기도 고양시 일산서구 일산동 655-691,경기도 고양시 일산서구 경의로 672,126.770067,37.682007
3,3호선,백석,경기도 고양시 일산동구 백석동 1538,경기도 고양시 일산동구 중앙로 지하 1042,126.788148,37.642953
4,경의중앙,대곡,경기도 고양시 덕양구 대장동 420-1,경기도 고양시 덕양구 대주로 107번길 71-81,126.811047,37.631615
5,경의중앙,강매,경기도 고양시 덕양구 행신동 1115-1,경기도 고양시 덕양구 소원로 202,126.844436,37.612290
6,경의중앙,백마,경기도 고양시 일산동구 백석동 92,경기도 고양시 일산동구 경의로 318,126.794067,37.658431
7,경의중앙,능곡,경기도 고양시 덕양구 토당동 454-3,경기도 고양시 덕양구 토당로 35,126.820838,37.618765
8,경의중앙,풍산,경기도 고양시 일산동구 풍동 1042,경기도 고양시 일산동구 경의로 486,126.786528,37.671815
9,경의중앙,행신,경기도 고양시 덕양구 행신동 812,경기도 고양시 덕양구 소원로 114,126.834117,37.612170
10,경의중앙,화전(한국항공대),경기도 고양시 덕양구 화전동 183-10,경기도 고양시 덕양구 화랑로 53,126.867947,37.603298
11,경의중앙,탄현,경기도 고양시 일산서구 덕이동 238번지,경기도 고양시 일산서구 경의로 856,126.761166,37.693857
12,3호선,주엽,경기도 고양시 일산서구 주엽동 166-7,경기도 고양시 일산서구 중앙로 지하 1432,126.761230,37.670142
13,3호선,정발산,경기도 고양시 일산동구 마두동 1123,경기도 고양시 일산동구 중앙로 지하 1270,126.773359,37.659493
14,3호선,마두,경기도 고양시 일산동구 마두동 765-1,경기도 고양시 일산동구 중앙로 지하 1180,126.777650,37.652174
15,3호선,화정,경기도 고양시 덕양구 화정동 1098,경기도 고양시 덕양구 화정로 지하60,126.832666,37.634597
16,경의중앙,곡산,경기도 고양시 일산동구 백석동 1185-1,경기도 고양시 일산동구 경의로 160,126.801514,37.646127
17,3호선,원흥,경기도 고양시 덕양구 원흥동 569-15,경기도 고양시 덕양구 권율대로 681,126.872600,37.650746
18,3호선,원당,경기도 고양시 덕양구 성사동 410-7,경기도 고양시 덕양구 고양대로 1429,126.843030,37.653316
19,3호선,삼송,경기도 고양시 덕양구 삼송동 18-5,경기도 고양시 덕양구 삼송로 지하 194,126.895590,37.653110
20,3호선,지축역,NaN,경기도 고양시 덕양구 삼송로 300,126.913728,37.648118

In [34]:
# 호선이 여러개가 지나는 경우, 중복된 값이 있을 수 있다. 
for i in range(len(station_data)) :
    for j in range(len(station_data)) :
        
        if i!=j and station_data['역명'].iloc[i] == station_data['역명'].iloc[j] :
            print(i, j)
            
station_data['모든요일_합계'].iloc[0] = station_data['모든요일_합계'].iloc[0] + station_data['모든요일_합계'].iloc[11]
            
# 지축역은 호선이 중복되어 여러 값이 있음. 따라서 중복값 제거.
station_data = station_data.drop(11)     # 여러번돌리지 않아야 함! 
station_data = station_data.reset_index(drop=True)
station_data

0 1
0 2
0 33
0 34
0 35
1 0
1 2
1 33
1 34
1 35
2 0
2 1
2 33
2 34
2 35
3 4
3 5
4 3
4 5
5 3
5 4
6 7
6 8
7 6
7 8
8 6
8 7
9 10
9 11
10 9
10 11
11 9
11 10
12 13
12 14
13 12
13 14
14 12
14 13
15 16
15 17
16 15
16 17
17 15
17 16
18 19
18 20
19 18
19 20
20 18
20 19
21 22
21 23
22 21
22 23
23 21
23 22
24 25
24 26
25 24
25 26
26 24
26 25
27 28
27 29
28 27
28 29
29 27
29 28
30 31
30 32
31 30
31 32
32 30
32 31
33 0
33 1
33 2
33 34
33 35
34 0
34 1
34 2
34 33
34 35
35 0
35 1
35 2
35 33
35 34
36 37
36 38
37 36
37 38
38 36
38 37
39 40
39 41
40 39
40 41
41 39
41 40
42 43
42 44
43 42
43 44
44 42
44 43
45 46
45 47
46 45
46 47
47 45
47 46
48 49
48 50
49 48
49 50
50 48
50 49
51 52
51 53
52 51
52 53
53 51
53 52
54 55
54 56
55 54
55 56
56 54
56 55
57 58
57 59
58 57
58 59
59 57
59 58
60 61
60 62
61 60
61 62
62 60
62 61

C:\Users\ASIA\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-34-448bed2c5cc7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_data['모든요일_합계'].iloc[0] = station_data['모든요일_합계'].iloc[0] + station_data['모든요일_합계'].iloc[11]

    호선명  역명 승하차구분   모든요일_합계
0   3호선  지축    승차   6044146
1   3호선  지축    하차    536446
2   3호선  지축  총승하차   1012460
3   경의선  화전    승차    928786
4   경의선  화전    하차    870375
..  ...  ..   ...       ...
57  일산선  주엽    하차   3674119
58  일산선  주엽  총승하차   7234466
59  일산선  대화    승차   5547363
60  일산선  대화    하차   4460662
61  일산선  대화  총승하차  10008025

[62 rows x 4 columns]

In [35]:
station_data['X'] = 0
station_data['Y'] = 0

In [36]:
station_data

    호선명  역명 승하차구분   모든요일_합계  X  Y
0   3호선  지축    승차   6044146  0  0
1   3호선  지축    하차    536446  0  0
2   3호선  지축  총승하차   1012460  0  0
3   경의선  화전    승차    928786  0  0
4   경의선  화전    하차    870375  0  0
..  ...  ..   ...       ... .. ..
57  일산선  주엽    하차   3674119  0  0
58  일산선  주엽  총승하차   7234466  0  0
59  일산선  대화    승차   5547363  0  0
60  일산선  대화    하차   4460662  0  0
61  일산선  대화  총승하차  10008025  0  0

[62 rows x 6 columns]

In [37]:
# 이제 위치를 입히기
for i in range(len(station_data['역명'])):
    for j in range(len(station_location['station_nm'])):
        if station_data['역명'].iloc[i] == station_location['station_nm'].iloc[j] :
            print(i, station_data['역명'].iloc[i], station_location['X'].iloc[j], station_location['Y'].iloc[j])
            station_data['X'].iloc[i] = station_location['X'].iloc[j]
            station_data['Y'].iloc[i] = station_location['Y'].iloc[j]
            break

for i in range(len(station_data)) :
    if station_data['X'].iloc[i] == 0 :
        print('위치정보 못 받은 역은 ', station_data['역명'].iloc[i])


for i in range(len(station_location)) :
    if '지축' in station_location['station_nm'].iloc[i] or '화전' in station_location['station_nm'].iloc[i] :
        print('station_location 파일에서 ',i, station_location['station_nm'].iloc[i])
        
        
        
        

station_data['X'].iloc[0] = station_location['X'].iloc[20]
station_data['Y'].iloc[0] = station_location['Y'].iloc[20]
     
station_data['X'].iloc[1] = station_location['X'].iloc[10]
station_data['Y'].iloc[1] = station_location['Y'].iloc[10]

station_data  # 이제 위치는 다 뽑고, 정렬만 다시 하면 된다

6 강매 126.84443637 37.61228963
7 강매 126.84443637 37.61228963
8 강매 126.84443637 37.61228963
9 행신 126.834117 37.61217
10 행신 126.834117 37.61217
11 능곡 126.82083836 37.61876543
12 능곡 126.82083836 37.61876543
13 능곡 126.82083836 37.61876543
14 곡산 126.80151439 37.64612663
15 곡산 126.80151439 37.64612663
16 곡산 126.80151439 37.64612663
17 백마 126.794067 37.658431
18 백마 126.794067 37.658431
19 백마 126.794067 37.658431
20 풍산 126.786528 37.671815
21 풍산 126.786528 37.671815
22 풍산 126.786528 37.671815
23 일산 126.77006749 37.68200683
24 일산 126.77006749 37.68200683
25 일산 126.77006749 37.68200683
26 탄현 126.76116553 37.69385707
27 탄현 126.76116553 37.69385707
28 탄현 126.76116553 37.69385707
29 원흥 126.87260033 37.65074577
30 원흥 126.87260033 37.65074577
31 원흥 126.87260033 37.65074577
35 삼송 126.89558955 37.65310988
36 삼송 126.89558955 37.65310988
37 삼송 126.89558955 37.65310988
38 원당 126.84303034 37.65331645
39 원당 126.84303034 37.65331645
40 원당 126.84303034 37.65331645
41 화정 126.83266635 37.63459661
42 화정 126.83266635 37.63459661
43 화정 126.83266635 37.63459661
44 대곡 126.809614 37.632306
45 대곡 126.809614 37.632306
46 대곡 126.809614 37.632306
47 백석 126.7881483 37.64295283
48 백석 126.7881483 37.64295283
49 백석 126.7881483 37.64295283
50 마두 126.77764972 37.65217351
51 마두 126.77764972 37.65217351
52 마두 126.77764972 37.65217351
53 정발산 126.77335864 37.65949317
54 정발산 126.77335864 37.65949317
55 정발산 126.77335864 37.65949317
56 주엽 126.76122972 37.67014215
57 주엽 126.76122972 37.67014215
58 주엽 126.76122972 37.67014215
59 대화 126.747206 37.675846
60 대화 126.747206 37.675846
61 대화 126.747206 37.675846
위치정보 못 받은 역은  지축
위치정보 못 받은 역은  지축
위치정보 못 받은 역은  지축
위치정보 못 받은 역은  화전
위치정보 못 받은 역은  화전
위치정보 못 받은 역은  화전
위치정보 못 받은 역은  지축
위치정보 못 받은 역은  지축
위치정보 못 받은 역은  지축
station_location 파일에서  10 화전(한국항공대)
station_location 파일에서  20 지축역

C:\Users\ASIA\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

    호선명  역명 승하차구분   모든요일_합계           X          Y
0   3호선  지축    승차   6044146  126.913728  37.648118
1   3호선  지축    하차    536446  126.867947  37.603298
2   3호선  지축  총승하차   1012460    0.000000   0.000000
3   경의선  화전    승차    928786    0.000000   0.000000
4   경의선  화전    하차    870375    0.000000   0.000000
..  ...  ..   ...       ...         ...        ...
57  일산선  주엽    하차   3674119  126.761230  37.670142
58  일산선  주엽  총승하차   7234466  126.761230  37.670142
59  일산선  대화    승차   5547363  126.747206  37.675846
60  일산선  대화    하차   4460662  126.747206  37.675846
61  일산선  대화  총승하차  10008025  126.747206  37.675846

[62 rows x 6 columns]

In [38]:
# 사람들이 많이 다니는 순으로 정렬
station_data = station_data.sort_values(by='모든요일_합계',ascending=False)  
station_data

#다시 보기좋게 인덱스 정렬
station_data = station_data.reset_index(drop=True)   
station_data

# 저장해놓기
station_data1 = station_data.copy()   
station_data = station_data1

# 완료
station_data

    호선명  역명 승하차구분   모든요일_합계           X          Y
0   일산선  화정  총승하차  14522105  126.832666  37.634597
1   일산선  삼송  총승하차  11526325  126.895590  37.653110
2   일산선  대화  총승하차  10008025  126.747206  37.675846
3   일산선  원당  총승하차   8607849  126.843030  37.653316
4   일산선  백석  총승하차   8533226  126.788148  37.642953
..  ...  ..   ...       ...         ...        ...
57  경의선  곡산    승차    202878  126.801514  37.646127
58  경의선  곡산    하차    201535  126.801514  37.646127
59  일산선  지축  총승하차    170378    0.000000   0.000000
60  일산선  지축    하차     85268    0.000000   0.000000
61  일산선  지축    승차     85110    0.000000   0.000000

[62 rows x 6 columns]